# just sane ignores
.*.sw[po]
*.bak
*.BAK
*~
*.orig
*.class
.cvsignore
Thumbs.db
.DS_Store
*.esproj
*.py[co]
_darcs/*
CVS/*
.svn/*
RCS/*

# config files
irisCouchCredentials.js
userDbCredentials.js
createDb/config.js
provision/config.js
squat/config.js
users/config.js
userExists/config.js
useraddress/config.js
setConfig/config.js

# node modules
node_modules

# Cloud9IDE
.settings.xml

libredocs.esproj/Project.espressostorage

libredocs.esproj/user.benoit.espressostorage
