html, body { background-color:#eee; }
.container > footer p { text-align:center; }
.container { width:50em; }
#frontpage h3 { margin-top:1em; }
footer { border:none; margin:1em; }
#write footer { margin:3em; }

.page-header { background-color:#f5f5f5; padding:4em 2em 1em; margin:-20px -20px 20px; }
.page-header img { width:3em; height:3em; }
h1 { font-size:4em; display:inline; color:#000; }
small { float:right; position:relative; top:1.5em; right:-.5em; }
small a.btn { display:none; }
small:hover a.btn { display:inline; position:absolute; right:0; top:-.4em; }

#browserid { position:relative; float:right; top:1em; }
#browserid-button { background:url('../images/browserid.png') no-repeat; min-width:79px; min-height:22px; cursor:pointer; border:none; box-shadow:none; }

#easyfreedom-signup { margin-bottom:3em; }
#firstName, #lastName { width:10em; }
.progress { display:block; height:3em; margin:0 0 1.5em 0; }
.progress .bar { height:3.5em; }
.progress .bar p { padding:.7em; display:inline; position:absolute; }

ul#doclist { margin:-20px; font-size:1.3em; list-style:none; }
ul#doclist li { padding:.7em 0; border:none; white-space:nowrap; position:relative; }
ul#doclist li:hover { background:#f8f8f8; }
ul#doclist li:first-child { padding-top:1em; border-bottom:1px solid #eee; cursor:pointer; }
ul#doclist li:first-child strong { color:#666; padding-left:1em; }
ul#doclist li:last-child { height:1.5em; }
ul#doclist li .doclink { cursor:pointer; text-decoration:none; }
ul#doclist strong { color:#000; padding:.7em 0 .7em 1.8em; }
ul#doclist span { font-size:.75em; }
ul#doclist .preview { position:absolute; top:0; padding:1em 2em 1em .5em; overflow:hidden; white-space:nowrap; color:#555; }
ul#doclist .date { position:absolute; right:1.2em; }
ul#doclist li a.btn { display:none; }
ul#doclist li:hover .preview { color:#000; }
ul#doclist li:hover .date { display:none; }
ul#doclist li:hover a.btn { position:absolute; display:inline; right:1em; top:.5em; }

#docTitleInput { height:1.2em; width:6em; font-size:1em; margin:-.7em -.05em -.5em; padding:0; color:#000; font-weight:bold; }

#editorPad { margin:-20px; min-height:35em; height:35em; }
#write iframe { width:100%; min-height:100%; border:none; }
#write .content { margin:-20px -20px -25px; }
#write .page-header { border-bottom:none; }

/* The white background content wrapper */
.container > .content {
background-color:#fff;
padding:20px;
margin:0 -20px; /* negative indent the amount of the padding to maintain the grid system */
-webkit-border-radius:0 0 6px 6px;
   -moz-border-radius:0 0 6px 6px;
        border-radius:0 0 6px 6px;
-webkit-box-shadow:0 1px 2px rgba(0,0,0,.15);
   -moz-box-shadow:0 1px 2px rgba(0,0,0,.15);
        box-shadow:0 1px 2px rgba(0,0,0,.15);
}
