html, body { background-color:#eee; }
footer { border:none; }
.container > footer p { text-align:center; }
.container { width:50em; }

.page-header { background-color:#f5f5f5; padding:4em 2em 1em; margin:-20px -20px 20px; }
.page-header img { width:3em; height:3em; }
h1 { font-size:4em; display:inline; color:#222; }
h1 small { font-size:.3em; float:right; }

#signin { position:relative; float:right; top:1em; }
#signin-button { background:url('../images/browserid.png') no-repeat; min-width:79px; min-height:22px; cursor:pointer; border:none; box-shadow:none; }

#easyfreedom-signup { margin-bottom:3em; }
#firstName, #lastName { width:10em; }
#easyfreedom-loading { position:relative; padding:.2em; white-space:nowrap; background:#e6e6e6; -webkit-border-radius:.5em; -moz-border-radius:.5em; border-radius:.5em; }
#easyfreedom-loadingbar { padding:1em; background: #ccc; -moz-border-radius-bottomleft:.4em; -webkit-border-bottom-left-radius:.4em; border-bottom-left-radius:.4em; -moz-border-radius-topleft:.4em; -webkit-border-top-left-radius:.4em; border-top-left-radius:.4em; }
#easyfreedom-loadingtext { padding:1em; display:inline; }

table { width:106%; margin:-20px; font-size:1.3em; }
table td { cursor:pointer; width:100%; padding:.7em 1.2em; border:none; }
table tr:hover { background:#f8f8f8; }
table tr:first-child { height:3em; }
table tr:first-child td { padding-top:1.1em; border-bottom:1px solid #eee; }
table tr:last-child { height:3em; }

#editorPad { margin:-20px; min-height:35em; height:35em; }
#write iframe { width:100%; min-height:100%; border:none; }
#write .content { margin:-20px -20px -25px; }
#write .page-header { border-bottom:none; }

/* The white background content wrapper */
.container > .content {
background-color:#fff;
padding:20px;
margin:0 -20px; /* negative indent the amount of the padding to maintain the grid system */
-webkit-border-radius:0 0 6px 6px;
   -moz-border-radius:0 0 6px 6px;
        border-radius:0 0 6px 6px;
-webkit-box-shadow:0 1px 2px rgba(0,0,0,.15);
   -moz-box-shadow:0 1px 2px rgba(0,0,0,.15);
        box-shadow:0 1px 2px rgba(0,0,0,.15);
}
/* Give a quick and non-cross-browser friendly divider */
.content .span4 { margin-left:0; padding-left:19px; border-left:1px solid #eee; }
